/* Base Application Styles */
.content {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;;
  align-items: flex-start;
  padding: 2em;
  height: 83vh;
  overflow-y: scroll;
}

.toolbar {
  /*background-color: #A33E61;*/
  background-color: #f7f7f7;
  border-bottom: 1.5px solid #EDEDED;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .flipButton {
    bottom: 3%;
    top: inherit !important;
  }
}

.floatingActionButton {
  z-index: 100;
  right: 3%;
  top: 67px;
  position: fixed;
  composes: flipButton;
}

.boardName {
  font-size: 1.5em;
  font-weight: 600;
  color: #979797;
  display: flex;
}

.lastPost {
  color: #dad4d4;
}

.noNotes {
  font-size: 2em;
  color: #979797;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  text-align: center;
}
